@font-face {
  font-family: Latin-Modern-Mono;
  src: url(design-elements/Latin-Modern-Mono/lmmonolt10-regular.otf);
}

@font-face {
  font-family: Latin-Modern-Mono-Bold;
  src: url(design-elements/Latin-Modern-Mono/lmmonoproplt10-bold.otf);
}

body {
  font-family: Latin-Modern-Mono;
  margin-bottom: 5rem;
}

h2 {
  text-align: center;
}

.PageWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem auto;
  max-width: 1140px;
  padding-left: 25px;
  padding-right: 25px;
}

.PageWrapper h1 {
  font-family: Latin-Modern-Mono-Bold;
  font-size: 1.4rem;
  text-transform: uppercase;
}

.PageWrapper input {
  margin-bottom: 3rem;
}

.Header {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.HeaderWrapper {
  border-bottom: 1px solid black;
  height: 40px;
}

.Header nav a {
  color: black;
  font-size: 14px;
  font-weight: bold;
  margin: 0 auto;
  margin-right: 13px;
  text-decoration: none;
  text-transform: lowercase;
}

.Header button {
  background-color: white;
  border: none;
  font-family: Latin-Modern-Mono;
  font-size: 14px;
  font-weight: bold;
  text-transform: lowercase;
}

.Form form {
  display: flex;
  flex-direction: column;
}

.Form input {
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 400px;
  padding: 10px 9px;
  width: 300px;
}

.Form label {
  text-align: center;
  margin-bottom: 1rem;
}

.Form button {
  font-size: 1rem;
  height: 40px;
  margin: 0 auto;
  min-width: 100px;
  width: 100px;
}

.PostCard {
  align-items: center;
  background-color: white;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  margin: 20px auto 0;
  max-height: 500px;
  padding: 15px 10px;
  position: relative;
  right: 1.5rem;
  top: 0.6rem;
  justify-content: center;
  width: 260px;
}

.PostCardImage {
  flex-basis: 50%;
}

.PostCardImage img {
  padding-top: 1rem;
  max-width: 400px;
  width: 200px;
}

.PostCardText {
  flex-basis: 50%;
  padding-left: 20px;
  padding-bottom: 1rem;
}

.background-card {
  background-image: url(design-elements/pngwing.png);
  background-size: 100%;
  border: 1px solid black;
  display: grid;
  height: calc(500px - 60px);
  position: relative;
  left: 0.7rem;
  margin-bottom: 11rem;
  width: 290px;
}

.background-card:last-child {
  margin-bottom: 6rem;
}

.dashboard-heading,
.post-header,
.username {
  margin-bottom: 3rem;
}

.view-post {
  margin: 0 auto;
  width: 100px;
}

.FilmList {
  flex-direction: column;
  margin-bottom: 3rem;
  max-width: 500px;
  min-width: 300px;
}

.FilmList img {
  display: flex;
  max-width: 230px;
  margin: 0 auto;
  padding: 2rem 2rem 0;
  justify-content: center;
}

.FilmList p {
  margin-bottom: 2rem;
}

input {
  margin-right: 2rem;
}
